* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
.resultWrapper{
    max-width: 414px;
    max-height: 700px;
    padding:20px;
    overflow:scroll;
}
.resultWrapper::-webkit-scrollbar { 
    display: none !important; 
}
.header{
    color:#005f48;
    font-size: 30px;
    padding-bottom: 20px;
}
.colName{
    margin: 0 60px;
    background-color: white;
    color:#005f48;
    font-weight:700;
    border-radius: 20px;
    text-align: center;
    font-size:30px;
}
.nickname{
    padding:10px;
    text-align: center;
    color:#005f48;
    font-size: 20px;
    font-weight:700;
}
.title{
    color:#005f48;
    font-size: 30px;
    font-weight:700;
    padding:10px;
}
.trybtn{
    position:absolute;
    margin: 0 auto;
    bottom:2rem;
    left:50%;
    transform:translate(-50%,-50%);
}
.trybtn button{
    padding: 0.5rem;
    font-size:30px;
    font-weight:700;
    background:white;
    border: none;
    border-radius:1rem;
  }