
  .wrapper{
    margin: 30px auto;
    padding: 30px 0;
    max-width: 414px;
    position:relative
  }
  .btn{
    position:absolute;
    margin: 0 auto;
    bottom:25%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .btn button{
  
    padding: 1rem;
    font-size:20px;
    font-weight:700;
    background:white;
    border: none;
    border-radius:1rem;
  }
  img {
    max-width: 414px;
  }
  .name{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:60px;
    font-style:italic;
    font-weight:700;
    text-align:center;
  }
  
  